.body {
    background-color: black;
}

.li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    list-style-type: none;
    display: inline-block;
    margin: 0px 40px 0 0;
}

a {
    text-decoration: none;
    color: white;
}

.Experience {
    color: rgb(154, 154, 252);
}

nav {
    margin-left: 410px;
}

div {
    margin-top: 100px;
    margin-left: 450px;
}

.a1 {
    text-decoration: underline;
    font-size: 25px;
    color: rgb(154, 154, 252);
}

p {
    font-size: 20px;
    color: white;
}

.p1 {
    font-size: 25px;
    color: white;
}

/* responsive design */

@media screen and (max-width: 1000px) {

    nav {
        margin-left: 0px;
    }

    .li {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: white;
        list-style-type: none;
        display: inline-block;
        margin: 0px 40px 0 0;
    }

    div {
        margin-left: 40px;
    }

    .a1 {
        text-decoration: underline;
        font-size: 20px;
        color: rgb(154, 154, 252);
    }

    .p1 {
        font-size: 20px;
        color: white;
    }

    p {
        font-size: 15px;
        color: white;
    }


}